* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

.container {
  background-color: #fff;
}

/* Header styling */

header,
header .search,
header .icons,
header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header .logo {
  gap: 30px;
}

.logo #menu {
  width: 30px;
  cursor: pointer;
}

.logo #app_logo {
  width: 150px;
  cursor: pointer;
}

header .search {
  gap: 6px;
  width: 34%;
}

.search .search_details {
  width: 100%;
  border: 1px solid grey;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}

.search_details input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 4px 6px;
  font-size: 1rem;
}

.search_details img {
  width: 20px;
  cursor: pointer;
}

.search_details input::placeholder {
  font-size: 1rem;
}

.search > img {
  width: 22px;
  cursor: pointer;
}

.icons #profile_img {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.icons .icon_img {
  width: 30px;
  cursor: pointer;
}

.icons {
  gap: 15px;
}

/* main content */
main {
  display: flex;
  padding: 10px 30px;
  gap: 30px;
  margin-top: 10px;
}
/* sidebar */
aside {
  flex-basis: 12%;
  background-color: #fff;
  top: 70px;
  position: sticky;
  align-self: flex-start;
}

.top_side ul {
  list-style: none;
}

.top_side ul li {
  padding-bottom: 20px;
}

.top_side_details {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.top_side_details > span {
  font-size: 1rem;
  color: grey;
  font-weight: 500;
}

.top_side .top_side_details > img {
  width: 20px;
}

.subscribed {
  margin-top: 20px;
}

.subscribed > ul {
  margin-top: 20px;
}

.subscribed > p {
  font-size: 0.8rem;
  font-weight: 700;
  color: gray;
}

.subscribed ul li img {
  border-radius: 50%;
}

/* responsive sidebar */
.menu_sidebar.menu_display {
  display: none;
}

.menu_sidebar_display.menu_display {
  flex-basis: 1%;
  display: block;
}

.responsive_sidebar ul li > img,
.subscried_responsive li > img {
  width: 20px;
  cursor: pointer;
}

/* video content display */
section {
  flex-basis: 88%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

.banner {
  width: 100%;
  cursor: pointer;
}

section .video_category {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.video_cat_details {
  padding-bottom: 15px;
}

.video_category .video_cat_details a > img {
  width: 100%;
  cursor: pointer;
}

.video_cat_details .video_cat_caption {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  gap: 10px;
  cursor: pointer;
}

.video_cat_caption > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.video_cat_caption .video_cat_caption_details a {
  text-decoration: none;
}

.video_cat_caption .video_cat_caption_details a > p {
  color: #000;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.video_cat_caption .video_cat_caption_details span {
  color: gray;
  font-size: 0.8rem;
  display: block;
  margin-top: 4px;
  font-weight: 500;
}

/* video content responsivess */
.video_section.menu_display {
  flex-basis: 97%;
}
