.video_main {
  gap: 15px;
}

.full_videos {
  flex-basis: 66%;
}

.video_playing {
  width: 100%;
  border: 0;
  outline: 0;
}

.full_videos #ids {
  margin: 6px 0;
  color: blue;
}

.video_activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.video_activities > p,
.social_cta > span {
  color: gray;
  font-weight: 500;
}
.social_activities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social_cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  vertical-align: middle;
}

.social_activities .social_cta > img {
  width: 20px;
}

.social_cta > span {
  color: gray;
  font-weight: 500;
}

/* left side for more videos */
.more_videos {
  flex-basis: 32%;
  position: sticky;
  top: 70px;
  align-self: flex-start;

}

.more_videos_details {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 12px;
}

.more_videos_details a {
  text-decoration: none;
  color: #000;
}

.more_videos_details > a > img {
  width: 100%;
  display: block;
}

.more_videos_details_caption {
  width: 100%;
}

.more_videos_details_caption > a > p {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.more_videos_details_caption > span {
  color: grey;
  margin-bottom: 4px;
  display: block;
  font-size: 0.9rem;
}
